/**
 * Created by mengjiuxiang on 2017/4/14.
 */
.global-div-cloud-encrypt-ctl{
    margin:0 auto;
    width:1060px;
    
}

.global-img-div-cloud-encrypt-ctl{
    float:left;
    width:1060px;
    height:400px;
}

.bar-div-cloud-encrypt-ctl{
    float:left;
    width:1060px;
    border-bottom: 1px solid #dbe0ef ;
}

.bar-first-div-cloud-encrypt-ctl{
    float:left;
    height:69px;
    line-height: 45px;
    font-size:20px;
    color :#404040;
    text-align: center;


}
.bar-item-div-cloud-encrypt-ctl{
    float:left;
    height:69px;
    line-height: 45px;
    font-size:20px;
    color :#404040;
    text-align: center;
}
.product-div-cloud-encrypt-ctl{
    float:left;
    width:1060px;
    margin-bottom: 70px;

    border-left: 1px solid #dbe0ef;
    border-right: 1px solid #dbe0ef;
    border-bottom: 1px solid #dbe0ef;
    padding-bottom: 70px;

}
.product-feature-div-cloud-encrypt-ctl{
    float:left;
    width:168px;
    height:168px;
    margin-left: 164px;
}

.sdk-div-cloud-encrypt-ctl{
    float:left;
    margin-top:75px;
    margin-left:70px;
    width:901px;
    height:248px;
}

.business-server-div-cloud-encrypt-ctl{
    float:left;
    margin-top:75px;
    margin-left:70px;
    width:851px;
    height:277px;
}