/**
 * Created by mengjiuxiang on 2017/4/14.
 */

.global-div-home-page-ctl{
    
}
.carousel-div-home-page-ctl{
    width:100%;
}
.carousel-first-div-home-page-ctl{
    background: #5c9df5;
    height: 540px;

}
.carousel-second-div-home-page-ctl{
    background: url('../../media/bannerBackground.png');
    height: 540px;

}
.carousel-third-div-home-page-ctl{
    background: #000142;
    height: 540px;

}
.carousel-first-content-div-home-page-ctl{
    width:1280px;
    height:540px;
    background: url('../../media/banner1.png');
    margin:0 auto;
    

}
.carousel-second-content-div-home-page-ctl{
    width:1280px;
    height:540px;
    background: url('../../media/banner2.png');
    margin:0 auto;
    

}
.carousel-third-content-div-home-page-ctl{
    width:1280px;
    height:540px;
    background: url('../../media/banner3.png');
    margin:0 auto;
    

}
.wave-div-home-page-ctl{
    position:relative;
    z-index: 2;
    margin-top:-12px;
    height:112px;
    background: url('../../media/wave.png');
}
.main-div-home-page-ctl{
    
    width:1280px;
    margin:0 auto;


}

.notify-div-home-page-ctl{
    float:left;
    width:1280px;
    height:21px;
}
.notify-img-div-home-page-ctl{
    float:left;
    width:21px;
    height:21px;

}
.notify-text-div-home-page-ctl{
    float:left;
    margin-left:42px;
    width:1217px;
    height: 21px;
}
.notify-carousel-text-div-home-page-ctl{
    font-size: 16px;
    height:21px;
    line-height: 21px;
    color: #333333;
}

.product-center-div-home-page-ctl{
    margin-top:70px;
    width:1280px;
    float:left;
}
.product-center-img-home-page-ctl{
    width:258px;
    height:55px;
    margin:0 auto;
    background: url('../../media/productCenterTitle.png');
}

.product-all-div-home-page-ctl{
    margin-top:70px;
    width:1280px;
    float:left;
}
.product-cloud-encrypt-div-home-page-ctl{
    float:left;
    width:418px;
    height:264px;
    margin:0;
    padding:0;
    background: url('../../media/cloudEncrypt.png');
    
}
.product-anheng-encrypt-div-home-page-ctl{
    float:left;
    width:418px;
    height:264px;
    background: url('../../media/anhengEncrypt.png');
}
.product-encrypt-connect-div-home-page-ctl{
    float:left;
    width:418px;
    height:264px;
    background: url('../../media/encryptConnect.png');
    
}

.product-title-div-home-page-ctl{
    float: left;
    margin-left: 46px;
    margin-top:46px;
    font-size:24px;
    color:#5c9df5;
}
.product-info-top-div-home-page-ctl{
    margin-top:12px;
}
.product-info-div-home-page-ctl{
    
    float: left;
    width:326px;
    margin-left: 46px;
    font-size:18px;
    color:#666666;
    text-align: left;


}
.product-img-home-page-ctl{
    float: left;
    margin-left: 46px;
    margin-top: 15px;
}

.cloud-div-home-page-ctl{
    margin-top:103px;
    width:1280px;
    float:left;
}
.cloud-first-div-home-page-ctl{
    width:1280px;
    float:left;
    text-align: center;
    font-size: 25px;
    line-height: 25px;
    color:#5c9df5;
    
}
.cloud-second-div-home-page-ctl{
    margin-top:16px;
    width:1280px;
    float:left;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    color:#b4b4b4;
}

.cloud-introduce-div-home-page-ctl{
    margin-top:50px;
    width:1280px;
    float:left;
}
.cloud-introduce-img-div-home-page-ctl{
    float:left;
    width:406px;
    height: 245px;
    background: url('../../media/cloudEncryptSolvePlan.png') ;
}

.cloud-introduce-text-div-home-page-ctl{
    float:left;
    margin-left: 73px;
    width:800px;
    height: 245px;
    text-align: left;
    font-size: 20px;
    padding: 65px 0px 65px 0px;
    line-height: 40px;
    color: #333333;
}

.cloud-series-background-div-home-page-ctl{
    margin-top:120px;
    width:100%;
    height: 700px;
    background: url('../../media/cloudSeriesBackground.png') repeat;
}



.cloud-series-div-home-page-ctl{
    margin:0 auto;
    width:1280px;
 
    
}
.cloud-series-first-div-home-page-ctl{
    width:1280px;
    float:left;
    text-align: center;
    font-size: 25px;
    line-height: 25px;
    color:#5c9df5;
    margin-top:62px;
    
}
.cloud-series-second-div-home-page-ctl{
    margin-top:16px;
    width:1280px;
    float:left;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    color:#b4b4b4;
}



.cloud-series-introduce-div-home-page-ctl{
    margin-top:72px;
    width:1280px;
    float:left;
}
.cloud-series-introduce-img-div-home-page-ctl{
    float:left;
    width:500px;
    height: 353px;
    margin-left: 80px;
    background: url('../../media/dataEncrypt.png') ;
}

.cloud-series-introduce-text-div-home-page-ctl{
    float:left;
    margin-left:0px;
    width:700px;
    text-align: left;
    font-size: 20px;
    color: #333333;
    
}

.cloud-series-introduce-all-text-div-home-page-ctl{
    float:left;
    width:700px;
}

.cloud-series-introduce-content-text-div-home-page-ctl{
    float:left;
    width:700px;
    margin-top:41px;
        
}
.cloud-series-introduce-content-text-img-home-page-ctl{
    float:left;
    width:15px;
    height:15px;
    margin-top:5px;

}
.cloud-series-introduce-content-text-right-div-home-page-ctl{
    float:left;
    width:650px;
    margin-left:35px;
    font-weight: bold;

}
.cloud-series-introduce-content-text-bottom-div-home-page-ctl{
    float:left;
    width:650px;
    margin-left:50px;
    margin-top: 28px;

}


.news-information-div-home-page-ctl{
    margin-top:90px;
    width:1280px;
    float:left;
}
.news-information-img-home-page-ctl{
    width:258px;
    height:52px;
    margin:0 auto;
    background: url('../../media/newsInformationTitle.png');
}

.news-information-content-div-home-page-ctl{
    margin-top:70px;
    width:1280px;
    float:left;
}
.news-information-content-main-div-home-page-ctl{
    float:left;
    width:611px;

}
.news-information-content-title-div-home-page-ctl{
    float:left;
    width:611px;
    color:#666666;
    font-size: 20px;
    font-weight: bold;
}
.news-information-content-text-div-home-page-ctl{
    float:left;
    margin-top:25px;
    width:611px;
    color:#000000;
    font-size: 16px;

}
.news-information-content-background-div-home-page-ctl{
    float:left;
    margin-top:25px;
    width:611px;
    height:16px;
    background: url('../../media/decoration.png') repeat;
}

.news-information-content-item-div-home-page-ctl{
    float:left;
    width:611px;
    margin-left:57px;
}

.news-information-content-item-self--div-home-page-ctl{
    float:left;
    width:611px;
    color:#333333;
}
.news-information-content-item-date--div-home-page-ctl{
    float:left;
    width:111px;
    font-size: 15px;
}
.news-information-content-item-brief--div-home-page-ctl{
    float:left;
    width:500px;
    font-size: 17px;
}



.typical-customer-background-div-home-page-ctl{
    margin-top:127px;
    width:100%;
    height: 560px;
    background: #f6f7fa;
}

.typical-customer-div-home-page-ctl{
    margin:0 auto;
    width:1280px;
    
}


.typical-customer-img-out-div-home-page-ctl{
    float:left;
    width:1280px;
}

.typical-customer-img-div-home-page-ctl{
    
    width:258px;
    height:52px;
    margin:0 auto;
    margin-top:72px;
    background: url('../../media/typicalCustomerTitle.png');
}

.typical-customer-carousel-div-home-page-ctl{
    float:left;
    width:1280px;
    margin-top:84px;

}

.typical-customer-carousel-page-div-home-page-ctl{
    width:1280px;
    height:350px;

}
.typical-customer-carousel-item-div-home-page-ctl{
    float:left;
    width:200px;
    height:60px;
    margin-left:11px;
    margin-top:11px;
}

.custom-service-div-home-page-ctl{
    z-index: 500;
    position: fixed;
    top:200px;
    right:0px;
    width:110px;
    height:222px;
    background:#e5e5e5;
    border-radius:5px;
    
}
.custom-service-text-div-home-page-ctl{
    float:left;
    width:110px;
    height:62px;
    line-height: 62px;
    text-align: center;
    color:#474747;
    font-size:18px;
}
.custom-service-dingding-div-home-page-ctl{
    float:left;
    margin-left:25px;
    width:60px;
    height:60px;
    background: url('../../media/customServiceDingding.png');
    cursor: pointer;
}
.custom-service-qq-div-home-page-ctl{
    float:left;
    margin-left:25px;
    margin-top:16px;
    width:60px;
    height:60px;
    background: url('../../media/customServiceQq.png');
    cursor: pointer;
}

.carousel-first-more-content-div-home-page-ctl{
    cursor: pointer;
    float:left;
    margin-left: 580px;
    margin-top: 338px;

}
.carousel-second-more-content-div-home-page-ctl{
    cursor: pointer;
    float:left;
    margin-left: 438px;
    margin-top: 352px;
}
.carousel-third-more-content-div-home-page-ctl{
    float:left;
    margin-left: 352px;
    margin-top: 332px;
}