/**
 * Created by mengjiuxiang on 2017/4/14.
 */
.global-div-anheng-encrypt-case{
    margin:0 auto;
    width:1060px;
    
}

.global-img-div-anheng-encrypt-case{
    float:left;
    width:1060px;
    height:360px;
}

.product-div-anheng-encrypt-case{
    float:left;
    width:1060px;
    margin-bottom: 70px;
    border:1px solid #dbe0ef;
    padding-bottom: 70px;
}

.img-div-anheng-encrypt-case{
    float:left;
    width:1060px;
    margin-top:28px;

}

.img-item-div-anheng-encrypt-case{
    float:left;
    width:479px;
    height:361px;
    margin-left:30px;

}


