/**
 * Created by mengjiuxiang on 2017/4/14.
 */


.catalog-div-catalog-ctl{
    float:left;
    width:300px;
    margin-top: 10px;

    background:#ffffff;
}

.type-div-catalog-ctl{
    float:left;
    margin-left:10px;
    width:290px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #331e1e;

}

.item-div-catalog-ctl{
    float:left;
    width:300px;
    height: 33px;
    line-height: 33px;
    font-size: 16px;
}

.catalog-item-div-catalog-ctl{
    float:left;
    width:300px;
    border-top: 1px solid #e6e6e6;
}

.catalog-title-item-div-catalog-ctl{
    float:left;
    margin-left: 10px;
    width:190px;
    color: #331e1e;
    overflow: hidden;
    text-overflow: ellipsis; 


}
.catalog-author-item-div-catalog-ctl{
    float:right;
    width:100px;
    color: #b3b3b3;
    overflow: hidden;
    text-overflow: ellipsis;

}



    