/**
 * Created by mengjiuxiang on 2017/4/14.
 */

body {
    
    background: #f3f3f3 !important ;

}
.App{
    margin:0 auto;
    width:1000px;
    
    height:800px;

}

.content-div-index{
    float:left;
    width:1000px;
}

.main-list-div-index{
    float:left;
    width:690px;
    height:200px;


}
.catalog-list-div-index{
    float:left;
    margin-left:10px;
    width:300px;
}
.add-color-span-index{
    color:#c20a0a;

}